html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.moneyListItem.active {
  background-color: rgb(238, 206, 27);
  color: rgb(47, 7, 94);
}
.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.start {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.answer {
  width: 40%;
  padding: 10px;
  text-align: center;
  background-color: rgb(74, 22, 134);
  border: 1px solid rgb(241, 219, 16);
  border-radius: 13px;
  font-size: 4vmin;

  cursor: pointer;
  margin: 0 10px 20px 10px;
}
/* .answer:hover, */
.answer.active {
  color: rgb(74, 22, 134);
  background-color: rgb(238, 206, 27);
  border: 1px solid rgb(74, 22, 134);
}
.answer.correct {
  animation: correct 1s ease forwards;
}
@keyframes correct {
  0%,
  22%,
  42% {
    background: rgb(238, 206, 27);
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #f3d215);
  }
  62%,
  100% {
    background: green;
  }
}

.answer.wrong {
  animation: wrong 1s ease forwards;
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: rgb(238, 206, 27);
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#17023b, #f3d215);
  }
  62%,
  100% {
    background: rgb(238, 31, 31);
  }
}
.startInput {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.startInput:focus {
  outline: none;
}

.startInput2 {
  margin-bottom: 90px;
  margin-top: 10px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.startButton {
  margin-top: 30px;
  background-color: rgb(116, 237, 116);
  width: 40%;
  height: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.submitButton {
  margin-top: 10px;
  background-color: rgb(99, 242, 99);
  width: 50%;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-left: 40px;
}

.singupButton {
  background-color: rgb(8, 166, 8);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
  margin-top: 8px;
}

.won {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.show-counter {
  padding: 0.5rem;
}

.show-counter .countdown-link {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  text-decoration: none;
  color: white;
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: white;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}

.login-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  height: 50px;
  margin-top: 20px;
  width: 130px;
}

.login-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-button:active {
  transform: translateY(2px);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
}

.login-button:focus {
  outline: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.options-button {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 20px;
  background-color: transparent;
}


table {
  border-collapse: collapse;
  width: 90%;
  position: absolute;
  top: 20%;
  left: 5%;
}
 th {
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  background-color: rgb(49, 227, 239);
 }

 th:first-child {
  width: 40%;
  font-weight: bold;
}

th:last-child {
  width: 50%;
  text-align: center;
}

td {
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  color: white;
}

td:first-child {
  width: 40%;
  font-weight: bold;
}

td:last-child {
  width: 50%;
  text-align: center;
}

.card {
  bottom: 22px;
  width: 80%;
  height: 50%;
  position: absolute;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.menu.open {
  transform: translateX(0);
}
.title{
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 100px;
  font-size: 6vmin;
    font-family: ui-serif;
}
  

.subtitle{
  color: white;
 position: absolute;
    top: 118px;
}
nav div {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.toolbar {
  background-color: lightgray;
  color:black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
}
.menu-button{
  background-color: transparent;
}
.link {
  color: inherit;
  text-decoration: none;
}

.disclaimer {
  padding: 5px;
  margin: 10px;
  overflow-y: scroll;
  height: calc(100vh - 40px);
}
.disclaimer h4{
  font-size: 7vmin;
  text-align: center;
  border-bottom: 1px solid black;
}
.profile{
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile p{
  margin: 2PX;
}
